:root {
  /* FONTS */
  font-family: "SF Pro Text";
  --font-size-m: 14px;
  /* COLORS */
  --text-primary-color: black;
  --text-inverted-primary-color: #fff;
  --text-tertiary: #999fa6;

  --bg-primary-color: #fff;
  --bg-primary-color-hover: #f8f8f8;
  --bg-secondary-color: #f50;
  --bg-inverted-secondary-color: #ffa375;
  --bg-secondary-color-hover: #e94e00;

  --input-inactive-border-color: #e1e3e6;
}
