.TicketCard {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  background-color: var(--bg-primary-color);
}
.TicketCard:hover {
  background-color: var(--bg-primary-color-hover);
}
.image_conteiner {
  /* background-size: cover; пришлось применить в аттрибуте тэга */
  flex-shrink: 0;
}
.description_conteiner {
  align-self: stretch;
  cursor: pointer;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-weight: bold;
  font-size: var(--font-size-l);
  line-height: 20px;
}
.genre {
  font-style: italic;
  line-height: 20px;
  font-size: var(--font-size-m);
}
.modal_title_conteiner {
  display: flex;
  margin-bottom: 16px;
}
.modal_title {
  flex: 1 1 auto;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}
.modal_questions {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
}
.modal_comfirm_buttons {
  display: flex;
  gap: 8px;
}
