.Button {
  color: var(--text-inverted-primary-color);
  background: var(--bg-secondary-color);
}
.Button:hover {
  background: var(--bg-secondary-color-hover);
}
.disabled {
  background: var(--bg-inverted-secondary-color);
}
.empty {
  color: var(--bg-secondary-color);
  border: 1px solid var(--bg-secondary-color);
  background: none;
}
.empty:hover {
  border: 1px solid var(--bg-secondary-color-hover);
  background: none;
}
.comfirm {
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  flex-shrink: 0;
}
