.TicketCard {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  background-color: var(--bg-primary-color);
}
.TicketCard:hover {
  background-color: var(--bg-primary-color-hover);
}
.image_conteiner {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-shrink: 0;
}
.description_conteiner {
  flex: 1 1 auto;
}
