.Header {
  display: flex;
  align-items: center;
  height: var(--header-height);
  background-color: var(--bg-inverted-primary-color);
  padding: 24px 32px;
}

.title,
.cart {
  flex-shrink: 0;
  font-weight: bold;
}

.title {
  flex: 1 0 auto;
}

.link {
  display: flex;
  color: var(--text-inverted-primary-color);
  font-size: var(--font-size-xxl);
}
.cart_amount {
  min-width: 28px;
  flex-shrink: 0;
  display: flex;
  padding: 4px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 20px;
  border-radius: 8px;
  background: var(--bg-secondary-color);
  margin-right: 8px;
}
