.Header {
  display: flex;
  align-items: center;
  height: var(--header-height);
  background-color: var(--bg-inverted-primary-color);
  padding: 24px 32px;
}

.title,
.cart {
  flex-shrink: 0;
  font-weight: bold;
}

.title {
  flex: 1 0 auto;
}

.link {
  color: var(--text-inverted-primary-color);
  font-size: var(--font-size-xxl);
}
